name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

env:
  IMAGE: ${{ secrets.IMAGE }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ env.IMAGE }}

    # ---------------------------
    # CREATE DEPLOY FOLDER LOCALLY
    # ---------------------------
    - name: Create deploy folder
      run: |
        mkdir -p deploy
        cp docker-compose.yml deploy/docker-compose.yml

        cat > deploy/deploy.sh << 'EOF'
        #!/usr/bin/env bash
        set -e

        IMAGE="${IMAGE}"

        cd ~/deploy

        echo "Pulling latest image: $IMAGE"
        docker pull "$IMAGE" || true

        echo "Stopping old containers..."
        docker compose down || true

        echo "Starting new containers..."
        docker compose up -d --remove-orphans

        echo "Deployment completed!"
        EOF

        chmod +x deploy/deploy.sh

    # ---------------------------
    # SSH + COPY FILES
    # ---------------------------
    - name: Install SSH and rsync
      run: |
        sudo apt-get update -y
        sudo apt-get install -y rsync openssh-client

    - name: Add SSH Key
      run: |
        mkdir -p ~/.ssh
        printf "%s" "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        echo -e "Host *\n  StrictHostKeyChecking no" > ~/.ssh/config

    - name: Copy deploy files to server
      run: |
        rsync -avz -e "ssh -i /.ssh/id_rsa" deploy/ ${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOST }}:/deploy/
    
    - name: Create deploy folder on server
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOST }} "mkdir -p ~/deploy"

    # ---------------------------
    # SSH EXECUTE REMOTE DEPLOY
    # ---------------------------
    - name: Run deploy script on server
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SERVER_HOST }} "bash ~/deploy/deploy.sh"